.homePage-wrapper {
  .search-container {
    height: 200px;
    background-image: linear-gradient(to right, #c5bdbd, #050c19);
    position: relative;
    .search-fields {
      margin: 10px;
      p {
          margin: 0;
      }
    }
    .search-fields-container {
      padding: 10px;
      background-color: white;
      display: flex;
      margin: auto;
      margin: auto;
      width: 70%;
      height: 60%;
      position: absolute;
      top: 25%;
      left: 15%;
    }
  }
  .cars-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
